:root {
  --hue-apricot: hsl(8.57, 81.82%, 69.8%);
  --hue-apricot-lighter: hsl(8.57, 81.82%, 79.8%);
  --hue-apricot-darker: hsl(8.57, 81.82%, 59.8%);

  --hue-frolic: hsl(338.74, 81.94%, 69.61%);
  --hue-frolic-lighter: hsl(338.74, 81.94%, 79.61%);
  --hue-frolic-darker: hsl(338.74, 81.94%, 59.61%);
  --hue-frolic-darkest: hsl(338.74, 81.94%, 39.61%);

  --hue-golden-wheat: hsl(40, 81.94%, 59.61%);
  --hue-golden-wheat-lighter: hsl(40, 81.94%, 79.61%);
  --hue-golden-wheat-darker: hsl(40, 81.94%, 49.61%);

  --hue-seagreen: hsl(148.28, 93.55%, 71.76%);
  --hue-seagreen-darker: hsl(148.28, 93.55%, 51.76%);

  --hue-lila-purple: hsl(268.46, 92.86%, 67.06%);
  --hue-lila-purple-darker: hsl(268.46, 92.86%, 47.06%);

  --hue-swan-blue: hsl(177.93, 93.55%, 71.76%);
  --hue-swan-blue-darker: hsl(177.93, 93.55%, 51.76%);

  --hg-winter-blue: hsla(195, 53%, 79%, 1);
  --hg-winter-blue-darker: hsla(195, 53%, 59%, 1);
  --halfway-see-through-winter-blue: hsla(195, 53%, 79%, 0.5);

  --hue-snow: hsla(218, 19%, 98%, 1);
  --hue-snow-grey: hsla(218, 19%, 89%, 1);
  --hue-winter-grey: hsla(218, 19%, 59%, 1);
  --halfway-see-through-snow-grey: hsla(218, 19%, 89%, 0.75);
  --halfway-see-through-snow-grey: hsla(218, 19%, 89%, 0.75);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--hue-snow-grey);
}

header {
  min-height: 10vh;
  background-color: var(--hue-mn-apricot);
  color: var(--hue-aft-golden-wheat);
}

main {
  flex-grow: 1;
}

.hue-delete {
  color: orange;
  text-shadow: 1px 1px 0px black;
  cursor: pointer;
}

footer {
  min-height: 10vh;
  background-color: var(--hue-mn-apricot);
  color: var(--hue-aft-golden-wheat);
}

.swan-blue {
  background-color: var(--hue-note-swan-blue);
  color: black;
}

.rosy-pink {
  background-color: var(--hue-note-rosy-pink);
  color: var(--hue-snow);
}

.lila-purple {
  background-color: var(--hue-note-lila-purple);
  color: var(--hue-snow);
}

.sea-green {
  background-color: var(--hue-note-seagreen);
  color: black;
}

.border-sea-green {
  border: 3px solid var(--hue-note-seagreen);
}

.border-swan-blue {
  border: 3px solid var(--hue-note-swan-blue);
}
.border-lila-purple {
  border: 3px solid var(--hue-note-lila-purple);
}

.border-rosy-pink {
  border: 3px solid var(--hue-note-rosy-pink);
}

.border-sea-green-darker {
  border: 1px solid green;
}

.border-swan-blue-darker {
  border: 1px solid blue;
}
.border-lila-purple-darker {
  border: 1px solid indigo;
}

.border-rosy-pink-darker {
  border: 1px solid var(--hue-note-rosy-pink-darker);
}

.no-bottom-border {
  border-bottom: 0 !important;
}

.create-button {
  background-color: var(--hue-aft-golden-wheat-lighter);
  border: 2px solid var(--hue-aft-golden-wheat-darker);
  color: var(--hue-mn-apricot-darker);
}
